#---------------------------------------#
# Project Ignores                       #
#---------------------------------------#

# dependencies
node_modules
package-lock.json

# editor
.vscode

# misc
*.todo